<!DOCTYPE html>
<html lang="hr">
<head>
    
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- CSS -->
    <!-- load up bootstrap and add some spacing -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    
    <!-- load up angular and custom script -->
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Serif:700,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    

    

</head>


<body ng-app="appEduka" ng-controller="FormController" >
   
   
        <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="pull-left"><img src="images/Juliana_Nails-Black-hor.png" class="img-responsive"></a>
          </div>
          <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Naslovnica</a></li>
              <li><a href="#about">Facebook</a></li>
              <li><a href="#contact">Kontakt</a></li>
              <li class="dropdown">
                <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Država <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Austrija</a></li>
                  <li><a href="#">Njemačka</a></li>
                  <li><a href="#">Slovenija</a></li>
                  <li><a href="#">Švicarska</a></li>
                  <li><a href="#">Hrvatska</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    
<!--KONTAKT PODACI -->    
<div class="jumbotron kontaktpodaci">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">         
            

            
            <h1 class="title">Prijavi se za Edukacije</h1>
            <form id="eee" >
            
            <!-- DATA INPUT -->
            <div class="form-group col-xs-12 col-sm-6">
                <label>Ime </label>
                <input type="text" class="form-control" name="name" ng-model="formData.name">
            </div>

            <div class="form-group col-xs-12 col-sm-6">
                <label>Prezime </label>
                <input type="text" class="form-control" name="lastname" ng-model="formData.lastname">
            </div>

            <div class="form-group col-xs-12 col-sm-6">
                <label>E-mail</label>
                <input type="text" class="form-control" name="lastname" ng-model="formData.email">
            </div>
            
            <div class="form-group col-xs-12 col-sm-6">
                <label>E-mail</label>
                <input type="text" class="form-control" name="lastname" ng-model="formData.email">
            </div>

            <div class="checkbox col-xs-6">
                <label>
                    <input type="checkbox" name="awesome" ng-model="formData.awesome" ng-true-value="ofCourse" ng-false-value="iWish"> Želite li primati Newsletter?
                </label>
            </div>
                
        </div>
    </div>
</div>

<div class="container" style="padding-bottom: 50px;">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">       

        <!-- MULTIPLE CHECKBOXES -->

        <h2 class="title">Izaberite tečaj</h2> 
        

        <div class="grupa_tecaja">   
            <h3 class="title">GEL</h3>
            <p class="small">Ukratko o tečajevima Tečaj sadrži teorijski dio koji obuhvaća upoznavanje s bojama i kistovima te praktični dio vježbe jednostavnih i složenih motiva. Radi se na tipsama. U cijenu je uključen 1 kist te 2 akrilne boje.</p>
        </div>
        
        <div class="izaberi row">
                 
            <label class="col-xs-12 col-sm-4" for="ivan"> 
                 <div class="eduChoose row" ng-class="{'active': ivan}">                             
                    <div class="logoOfTuts">
                        <img src="images/JN-Black-Circle.png">
                        <input type="checkbox" ng-model="ivan" id="ivan">
                    </div>                    
                    <div class="textOfTutus col-xs-12">
                        <h3>Početni tečaj</h3>
                        <p>
                            1.dan - teorijski dio - anatomija nokta i bolesti noktiju, te praktični dio rada s tipsama<br>
                            2.dan - rad sa šablonama - usavršavanje gel tehnike</br>
                            2 dana; 14h; do 2 polaznika</ br>
                        </p>                        
                    </div> 
                    <div class="price col-xs-12">1500kn bez start paketa. 2000kn sa start paketom.</div> 
                 </div>
             </label>
                        
            <label class="col-xs-12 col-sm-4" for="pero"> 
                 <div class="eduChoose row" ng-class="{'active': pero}">                             
                    <div class="logoOfTuts">
                        <img src="images/JN-Black-Circle.png">
                        <input type="checkbox" ng-model="pero" id="pero">
                    </div>                    
                    <div class="textOfTutus col-xs-12">
                        <h3>Početni tečaj</h3>
                        <p>
                            1.dan - teorijski dio - anatomija nokta i bolesti noktiju, te praktični dio rada s tipsama<br>
                            2.dan - rad sa šablonama - usavršavanje gel tehnike</br>
                            2 dana; 14h; do 2 polaznika</ br>
                        </p>                        
                    </div> 
                    <div class="price col-xs-12">1500kn bez start paketa. 2000kn sa start paketom.</div> 
                 </div>
             </label>
                        
            <label class="col-xs-12 col-sm-4" for="pero"> 
                 <div class="eduChoose row" ng-class="{'active': blue}">                             
                    <div class="logoOfTuts">
                        <img src="images/JN-Black-Circle.png">
                        <input type="checkbox" ng-model="blue" id="pero">
                    </div>                    
                    <div class="textOfTutus col-xs-12">
                        <h3>Početni tečaj</h3>
                        <p>
                            1.dan - teorijski dio - anatomija nokta i bolesti noktiju, te praktični dio rada s tipsama<br>
                            2.dan - rad sa šablonama - usavršavanje gel tehnike</br>
                            2 dana; 14h; do 2 polaznika</ br>
                        </p>                        
                    </div> 
                    <div class="price col-xs-12">1500kn bez start paketa. 2000kn sa start paketom.</div> 
                 </div>
             </label>

        </div>
            
        <div class="izaberi row">
                 
            <label class="col-xs-12 col-sm-4" for="pero"> 
                 <div class="eduChoose row" ng-class="{'active': ivan}">                             
                    <div class="logoOfTuts">
                        <img src="images/JN-Black-Circle.png">
                        <input type="checkbox" ng-model="ivan" id="pero">
                    </div>                    
                    <div class="textOfTutus col-xs-12">
                        <h3>Početni tečaj</h3>
                        <p>
                            1.dan - teorijski dio - anatomija nokta i bolesti noktiju, te praktični dio rada s tipsama<br>
                            2.dan - rad sa šablonama - usavršavanje gel tehnike</br>
                            2 dana; 14h; do 2 polaznika</ br>
                        </p>                        
                    </div> 
                    <div class="price col-xs-12">1500kn bez start paketa. 2000kn sa start paketom.</div> 
                 </div>
             </label>
                        
            <label class="col-xs-12 col-sm-4" for="pero"> 
                 <div class="eduChoose row" ng-class="{'active': blue}">                             
                    <div class="logoOfTuts">
                        <img src="images/JN-Black-Circle.png">
                        <input type="checkbox" ng-model="blue" id="pero">
                    </div>                    
                    <div class="textOfTutus col-xs-12">
                        <h3>Početni tečaj</h3>
                        <p>
                            1.dan - teorijski dio - anatomija nokta i bolesti noktiju, te praktični dio rada s tipsama<br>
                            2.dan - rad sa šablonama - usavršavanje gel tehnike</br>
                            2 dana; 14h; do 2 polaznika</ br>
                        </p>                        
                    </div> 
                    <div class="price col-xs-12">1500kn bez start paketa. 2000kn sa start paketom.</div> 
                 </div>
             </label>
                        
            <label class="col-xs-12 col-sm-4" for="pero"> 
                 <div class="eduChoose row" ng-class="{'active': blue}">                             
                    <div class="logoOfTuts">
                        <img src="images/JN-Black-Circle.png">
                        <input type="checkbox" ng-model="blue" id="pero">
                    </div>                    
                    <div class="textOfTutus col-xs-12">
                        <h3>Početni tečaj</h3>
                        <p>
                            1.dan - teorijski dio - anatomija nokta i bolesti noktiju, te praktični dio rada s tipsama<br>
                            2.dan - rad sa šablonama - usavršavanje gel tehnike</br>
                            2 dana; 14h; do 2 polaznika</ br>
                        </p>                        
                    </div> 
                    <div class="price col-xs-12">1500kn bez start paketa. 2000kn sa start paketom.</div> 
                 </div>
             </label>

        </div>
            
                                   
    </div>
        
        <h2 class="title">&nbsp;</h2> 
        
        <div class="grupa_tecaja">   
            <h3 class="title">Trepavice</h3>
            <p class="small">Ukratko o tečajevima Tečaj sadrži teorijski dio koji obuhvaća upoznavanje s bojama i kistovima te praktični dio vježbe jednostavnih i složenih motiva. Radi se na tipsama. U cijenu je uključen 1 kist te 2 akrilne boje.</p>
        </div>
        
        <div class="btn-group izaberi row">
                 
            <label class="col-xs-12 col-sm-4" for="pero"> 
                 <div class="eduChoose row" ng-class="{'active': blue}">                             
                    <div class="logoOfTuts">
                        <img src="images/JN-Black-Circle.png">
                        <input type="checkbox" ng-model="blue" id="pero">
                    </div>                    
                    <div class="textOfTutus col-xs-12">
                        <h3>Početni tečaj</h3>
                        <p>
                            1.dan - teorijski dio - anatomija nokta i bolesti noktiju, te praktični dio rada s tipsama<br>
                            2.dan - rad sa šablonama - usavršavanje gel tehnike</br>
                            2 dana; 14h; do 2 polaznika</ br>
                        </p>                        
                    </div> 
                    <div class="price col-xs-12">1500kn bez start paketa. 2000kn sa start paketom.</div> 
                 </div>
             </label>
                        
            <label class="col-xs-12 col-sm-4" for="pero"> 
                 <div class="eduChoose row" ng-class="{'active': blue}">                             
                    <div class="logoOfTuts">
                        <img src="images/JN-Black-Circle.png">
                        <input type="checkbox" ng-model="blue" id="pero">
                    </div>                    
                    <div class="textOfTutus col-xs-12">
                        <h3>Početni tečaj</h3>
                        <p>
                            1.dan - teorijski dio - anatomija nokta i bolesti noktiju, te praktični dio rada s tipsama<br>
                            2.dan - rad sa šablonama - usavršavanje gel tehnike</br>
                            2 dana; 14h; do 2 polaznika</ br>
                        </p>                        
                    </div> 
                    <div class="price col-xs-12">1500kn bez start paketa. 2000kn sa start paketom.</div> 
                 </div>
             </label>
                                    
        </div>
        
        
        
        
        <hr>
     

        <button type="submit" class="btn btn-danger btn-lg col-xs-12">Pošalji!</button>
        

    </form>
        
    </div>
</div>

<!-- FOOTER -->
<div class="jumbotron" style="margin:0;">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            
            <!-- SHOW OFF OUR FORMDATA OBJECT -->
            <h2>Footer</h2>
            <p>kontakt | o nama | </p>
            <pre>
                {{ formData }}
            </pre>
                
        </div>
    </div>
</div>  

</body>

    <!-- JS -->
    <script src="js/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>