<!DOCTYPE html>
<html lang="hr">
<head>
    
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- CSS -->
    <!-- load up bootstrap and add some spacing -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    
    <!-- load up angular and custom script -->
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Serif:700,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    

    

</head>


<body ng-app="appEduka" ng-controller="FormController" >
   
   
        <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="pull-left"><img src="images/Juliana_Nails-Black-hor.png" class="img-responsive"></a>
          </div>
          <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider" role="separator"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    
<!--KONTAKT PODACI -->    
<div class="jumbotron kontaktpodaci">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">         
            

            
            <h1 class="title">Prijavi se za Edukacije</h1>
            <form id="eee" >
            <!-- DATA INPUT -->
            <div class="form-group">
                <label>Ime </label>
                <input type="text" class="form-control" name="name" ng-model="formData.name">
            </div>

            <div class="form-group">
                <label>Prezime </label>
                <input type="text" class="form-control" name="lastname" ng-model="formData.lastname">
            </div>

            <div class="form-group">
                <label>E-mail</label>
                <input type="text" class="form-control" name="lastname" ng-model="formData.email">
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="awesome" ng-model="formData.awesome" ng-true-value="ofCourse" ng-false-value="iWish"> Želite li primati Newsletter?
                </label>
            </div>
                
        </div>
    </div>
</div>

<div class="container">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">       

        <!-- MULTIPLE CHECKBOXES -->

        <h2 class="title">Izaberite tečaj</h2>  
        

        <div class="grupa_tecaja">   
            <h3 class="title">GEL</h3>
            <p class="small">HTML and CSS are the languages you can use to build and style websites. In these courses, you’ll learn the basics of HTML and CSS, build your first website, and then review some of the current HTML5 and CSS3 best practices.</p>
        </div>
        <div class="btn-group izaberi">
              <label ng-class="{'active': orange}" for="ivan">
                <input type="checkbox" ng-model="orange" id="ivan"> 
                  <p>Početni tečaj<br>
                     1.dan - teorijski dio - anatomija nokta i bolesti noktiju, te praktični dio rada s tipsama<br>
                     2.dan - rad sa šablonama - usavršavanje gel tehnike</br>
                     2 dana; 14h; do 2 polaznika</br>
                     1500kn bez start paketa. 2000kn sa start paketom.
                  </p>
              </label>
              <label ng-class="{'active': orange}" for="ivan">
                <input type="checkbox" ng-model="orange" id="ivan"> 
                  <p>Početni tečaj<br>
                     1.dan - teorijski dio - anatomija nokta i bolesti noktiju, te praktični dio rada s tipsama<br>
                     2.dan - rad sa šablonama - usavršavanje gel tehnike</br>
                     2 dana; 14h; do 2 polaznika</br>
                     1500kn bez start paketa. 2000kn sa start paketom.
                  </p>
              </label>
              <label ng-class="{'active': orange}" for="ivan">
                <input type="checkbox" ng-model="orange" id="ivan"> 
                  <p>Početni tečaj<br>
                     1.dan - teorijski dio - anatomija nokta i bolesti noktiju, te praktični dio rada s tipsama<br>
                     2.dan - rad sa šablonama - usavršavanje gel tehnike</br>
                     2 dana; 14h; do 2 polaznika</br>
                     1500kn bez start paketa. 2000kn sa start paketom.
                  </p>
              </label>
              <label ng-class="{'active': orange}" for="ivan">
                <input type="checkbox" ng-model="orange" id="ivan"> 
                  <p>Početni tečaj<br>
                     1.dan - teorijski dio - anatomija nokta i bolesti noktiju, te praktični dio rada s tipsama<br>
                     2.dan - rad sa šablonama - usavršavanje gel tehnike</br>
                     2 dana; 14h; do 2 polaznika</br>
                     1500kn bez start paketa. 2000kn sa start paketom.
                  </p>
              </label>               
        </div>
        
        
        <div class="grupa_tecaja">   
            <h3 class="title">Trepavice</h3>
            <p class="small">HTML and CSS are the languages you can use to build and style websites. In these courses, you’ll learn the basics of HTML and CSS, build your first website, and then review some of the current HTML5 and CSS3 best practices.</p>
        </div>
        <div class="btn-group izaberi">
              <label ng-class="{'active': orange}" for="ivan">
                <input type="checkbox" ng-model="orange" id="ivan"> 
                  <p>Početni tečaj<br>
                     1.dan - teorijski dio - anatomija nokta i bolesti noktiju, te praktični dio rada s tipsama<br>
                     2.dan - rad sa šablonama - usavršavanje gel tehnike</br>
                     2 dana; 14h; do 2 polaznika</br>
                     1500kn bez start paketa. 2000kn sa start paketom.
                  </p>
              </label>
              <label ng-class="{'active': orange}" for="ivan">
                <input type="checkbox" ng-model="orange" id="ivan"> 
                  <p>Početni tečaj<br>
                     1.dan - teorijski dio - anatomija nokta i bolesti noktiju, te praktični dio rada s tipsama<br>
                     2.dan - rad sa šablonama - usavršavanje gel tehnike</br>
                     2 dana; 14h; do 2 polaznika</br>
                     1500kn bez start paketa. 2000kn sa start paketom.
                  </p>
              </label>
              <label ng-class="{'active': orange}" for="ivan">
                <input type="checkbox" ng-model="orange" id="ivan"> 
                  <p>Početni tečaj<br>
                     1.dan - teorijski dio - anatomija nokta i bolesti noktiju, te praktični dio rada s tipsama<br>
                     2.dan - rad sa šablonama - usavršavanje gel tehnike</br>
                     2 dana; 14h; do 2 polaznika</br>
                     1500kn bez start paketa. 2000kn sa start paketom.
                  </p>
              </label>
              <label ng-class="{'active': orange}" for="ivan">
                <input type="checkbox" ng-model="orange" id="ivan"> 
                  <p>Početni tečaj<br>
                     1.dan - teorijski dio - anatomija nokta i bolesti noktiju, te praktični dio rada s tipsama<br>
                     2.dan - rad sa šablonama - usavršavanje gel tehnike</br>
                     2 dana; 14h; do 2 polaznika</br>
                     1500kn bez start paketa. 2000kn sa start paketom.
                  </p>
              </label>               
        </div>
     

        <button type="submit" class="btn btn-danger btn-lg">Pošalji!</button>
        

    </form>
        
    </div>
</div>

<!-- FOOTER -->
<div class="jumbotron">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            
            <!-- SHOW OFF OUR FORMDATA OBJECT -->
            <h2>Footer</h2>
            <pre>
                {{ formData }}
            </pre>
                
        </div>
    </div>
</div>  

</body>

    <!-- JS -->
    <script src="js/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>